[submodule "external/DBow3"]
	path = external/DBow3
	url = git@github.com:Robertleoj/DBow3.git
[submodule "external/Remotery"]
	path = external/Remotery
	url = git@github.com:Celtoys/Remotery.git
[submodule "external/slam_dunk"]
	path = external/slam_dunk
	url = git@github.com:Robertleoj/slam_dunk.git
